<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template :: head">
</head>
<body>
	<header th:replace="common/template :: header"></header>

	<div class="container">
	
	<div class="card bg-light">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
	
		<form th:action="@{/views/alumnos/save}" th:object="${alumno}" method="post">
			<div class="form-group row">
				
				<input type="hidden" th:field="*{id}">
				<label class="col-md-2" for="nombre">Nombre(s):</label> 
				<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6" id="nombre"
					placeholder="Nombre(s) del alumno"> 
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
						th:errors="*{nombre}">
					</small>
			</div>
			
			<div class="form-group row">
				<label class="col-md-2" for="apellidos">Apellidos:</label> 
				<input type="text" th:field="*{apellidos}" class="form-control form-control-sm col-md-6" id="apellidos"
					placeholder="Apellidos del alumno"> 
					<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}"
						th:errors="*{apellidos}">
					</small>
			</div>
	
			<div class="form-group row">
				<label class="col-md-2" for="genero">Género:</label> 
				<select th:field="*{genero}" class="form-control form-control-sm col-md-6" id="genero"> 
					<option value="">--Por favor seleccione una opción--</option>
					<option value="Hombre">Hombre</option>
  					<option value="Mujer">Mujer</option>				
				</select>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('genero')}"
					th:errors="*{genero}">
				</small>
			</div>
			
			<div class="form-group row">
				<label class="col-md-2" for="fechaNacimiento">Fecha de nacimiento:</label> 
				<input type="date" th:field="*{fechaNacimiento}" class="form-control form-control-sm col-md-6" id="fechaNacimiento"
					placeholder="Fecha de nacimiento"> 
					<small class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}"
						th:errors="*{fechaNacimiento}">
					</small>
			</div>
			
			<div class="card-footer bg-dark">
				<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
			</div>
			
		</form>
		</div>
	</div>

	</div>

	<footer th:replace="common/template :: footer"></footer>

</body>
</html>